<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>      <!--이미지 다중 선택-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <!--retrofit의 인터넷 연결을 위한 권한 설정-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RM"

        tools:targetApi="31"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDhI4u20D3KoqSBYHU14vQ7UYxmY82Y8w" />


        <activity android:name="com.example.rm.account.LoginUser"/>
        <activity android:name="com.example.rm.account.SignUp"/>
        <activity android:name="com.example.rm.account.SearchId"/>
        <activity android:name="com.example.rm.account.SearchPwd"/>
        <activity android:name="com.example.rm.category.SearchTrash"/>
        <activity android:name="com.example.rm.category.CategoryInfo"/>
        <activity android:name="com.example.rm.category.TrashDetail"/>
        <activity android:name="com.example.rm.mypage.Mypage"/>
        <activity android:name="com.example.rm.Camera"/>
        <activity android:name="com.example.rm.RecycleLocation"/>
        <activity android:name="com.example.rm.community.Community"/>
        <activity android:name="com.example.rm.community.CommunityEdit" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.example.rm.community.CommunityContent"/>
        <activity android:name="com.example.rm.Notice"/>
        <activity android:name="com.example.rm.mypage.MypageUserInfo"/>
        <activity android:name="com.example.rm.manager.Manager"/>
        <activity android:name="com.example.rm.manager.NNotice"/>
        <activity android:name="com.example.rm.manager.NNoticeEdit"/>
        <activity android:name="com.example.rm.manager.NNoticeInfo"/>
    </application>

</manifest>